@charset "UTF-8";
body {
  font-family: "Noto Serif JP", serif;
  background-color: #fff;
  color: #4b372c;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.sp-only {
  display: inline;
}
@media screen and (min-width: 768px) {
  .sp-only {
    display: none;
  }
}

.pc-only {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-only {
    display: inline;
  }
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .title {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.title-en {
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
}

.title-ja {
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .title-ja {
    font-size: 16px;
  }
}

.inner {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f7f3e9;
  border: 1px solid #4b372c;
  padding: 10px 20px;
  color: #4b372c;
  transition-duration: 0.2s;
  border-radius: 3px;
}
.button:hover {
  background: #4b372c;
  color: #f7f3e9;
  border: 1px solid #f7f3e9;
}
.button--type2 {
  color: #f7f3e9;
  background: #4b372c;
}
.button--type2:hover {
  background: #f7f3e9;
  color: #4b372c;
  border: 1px solid #4b372c;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}

#concept,
#features,
#menu,
#contact,
#footer {
  scroll-margin-top: 75px;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #f7f3e9;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header__title {
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
}
.header__title:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    gap: 30px;
  }
}

.header__link {
  position: relative;
}
.header__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #4b372c;
  transition: width 0.3s ease-in-out;
}
.header__link:hover::before {
  width: 100%;
}

.header__open {
  width: 30px;
  height: 18px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}
.header__open.is-checked .drawer-icon__bar:nth-of-type(1) {
  transform: rotate(45deg);
  top: 10px;
}
.header__open.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.header__open.is-checked .drawer-icon__bar:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 10px;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 2px;
  transition: transform 0.3s linear, top 0.3s linear;
  background-color: #4b372c;
  border-radius: 10px;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 8px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 16px;
}

.drawer {
  width: 270px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 90;
  background: #4b372c;
  padding: 70px 15px;
  transform: translateX(100%);
  transition: transform 0.3s linear;
}
.drawer.is-checked {
  transform: translateX(0);
}

.drawer__menu {
  display: flex;
  flex-direction: column;
}

.drawer__link {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: right;
  font-size: 18px;
  color: #fff;
  position: relative;
}
.drawer__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
.drawer__link:hover::before {
  width: 100%;
}

.fv {
  position: relative;
  width: 100%;
  height: 70vh;
  /* 画面の50%の高さ */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fv__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.concept__content {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .concept__content {
    margin-top: 0;
    text-align: left;
  }
}

.concept__texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.concept__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .concept__box {
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }
}

.concept__img img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .concept__img img {
    width: 350px;
  }
}

.swiper {
  width: 90%;
  /* 画面の幅に合わせる */
  max-width: 1200px;
  /* 最大幅を調整 */
  height: auto;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .swiper {
    margin-top: 80px;
  }
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  transition: transform 1s ease-in-out;
  /* スムーズなアニメーション */
  overflow: hidden;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.features {
  background-color: #f7f3e9;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 50px;
}
.features__inner {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .features__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
.features .feature {
  position: relative;
  padding: 2rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.features .feature__number {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 44px;
  height: 44px;
  background-color: #fff;
  border: 2px solid #4b372c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.features .feature__heading {
  margin-top: 2rem;
  font-size: 25px;
  font-weight: 600;
}
.features .feature__image {
  width: 100%;
  max-width: 200px;
  margin: 1rem auto;
  border-radius: 8px;
  display: block;
}
.features .feature__desc {
  font-size: 0.95rem;
  color: #4b372c;
  margin-top: 1rem;
}
.features__title {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 2rem;
}
.features__title .title-en {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.features__title .title-ja {
  font-size: 1rem;
  color: #4b372c;
}

.menu__pdf {
  padding-bottom: 20px;
}
.menu__pdf a:hover {
  color: rgba(75, 55, 44, 0.5);
}

.menu__boxes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .menu__boxes {
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: stretch;
  }
}

.menu__box1,
.menu__box2 {
  position: relative;
  flex: 1;
  max-width: 450px;
  margin: 0 auto;
}

.menu__box-img {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}
.menu__box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.4s;
}
.menu__box-img img:hover {
  transform: scale(1.2, 1.2);
}

.menu__box-name {
  position: absolute;
  bottom: 20px;
  left: 15px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: #fff;
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  .menu__box-name {
    bottom: 30px;
    left: 25px;
  }
}

.contact {
  margin-top: 40px;
  background: url(../img/gift_img.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 200px;
}
@media screen and (min-width: 768px) {
  .contact {
    margin-top: 100px;
  }
}

.contact__title {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contact__title {
    margin-bottom: 15px;
  }
}

.contact__text {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

.sns {
  margin-top: 30px;
  margin-bottom: 40px;
}

.sns__logo {
  display: inline-block;
  width: 20px;
  /* ロゴのサイズを指定 */
  height: 20px;
  margin-left: 10px;
  /* テキストとロゴの間に余白を追加 */
  background-image: url(../img/logo_insta2.png);
  /* 通常時のロゴ */
  background-size: cover;
}

.sns__button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.sns__button:hover .sns__logo {
  background-image: url(../img/logo_insta2.png);
  transition-duration: 0.2s;
  /* ホバー時にロゴが変更 */
}

.footer {
  color: #4b372c;
  background-color: #f7f3e9;
  text-align: center;
  padding-top: 50px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }
}

.footer__logo {
  font-size: 40px;
  font-family: "Cormorant Garamond", serif;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    padding-bottom: 40px;
  }
}

.footer__texts {
  max-width: 325px;
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.time__title {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .time__title {
    font-size: 20px;
  }
}

.footer__text {
  text-align: left;
}

.time__title {
  font-size: 16px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .time__title {
    font-size: 20px;
  }
}

.footer__detail {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__copyright {
  border-top: 1px solid #4b372c;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 15px;
  }
}/*# sourceMappingURL=style.css.map */